@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.inicio {
    margin-top: 136px;
    display: flex;
    justify-content: space-around;
}

.inicio-container {
    /* display: flex; */
}

.logo {
    display: flex;
    align-items: center;
}

.titulo-inicio {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Fira Code', monospace;
    color: #fff;
}

.texto-inicio {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Fira Code', monospace;
    color: var(--color-text-primary);
    margin-top: 32px;
}

span {
    color: var(--color-text-secundary);
}

.foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.botao-container {
    margin-top: 24px;
}

.botao-container button {
    width: 146px;
    height: 37;
    border: 2px solid var(--color-text-secundary);
    background-color: var(--background-color);
    color: #fff;
    cursor: pointer;
    align-items: center;
    margin:  0 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Fira Code', monospace;
}

